* {
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --clr: #e1e2e2;
  --bck: #1d2228;
  --acc: #fb8122;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--clr) !important;
  background-color: var(--bck) !important;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  background: #373838;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  padding: 1em;
}
main {
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 10%;
}
.main-content {
  margin: 1em 1em 1em 1em;
}
.link-icon {
  text-decoration: none;
  color: var(--clr);
  font-size: 2.5em;
  margin: 0 0.1em;
}
.link-icon:hover {
  text-decoration: none;
  color: var(--acc);
}
.nav-item {
  margin: 0.5em;
}
.weather-icon {
  font-size: 5em;
  margin: 0.2em 0.1em;
  background-color: transparent;
  border: none;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title {
  display: flex;
  font-size: 2em;
  align-items: center;
}
.card-weather {
  display: none;
  padding: 1em;
  margin: 1em;
  border: #e1e2e2 solid 2px;
  border-radius: 2em;
  min-width: 15em;
}
.country-tag {
  text-align: center;
  font-size: 0.75em;
  margin-right: 0.5em;
}
.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#temp {
  font-size: 2em;
}
.card-text-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search-box {
  width: 15em;
  padding: 0.5em;
  border: none;
  border-right: #e1e2e2 solid 2px;
  border-bottom: #e1e2e2 solid 2px;
  border-bottom-right-radius: 2em;
  margin: 0.5em;
  background-color: transparent;
  color: var(--clr);
  padding: 1em;
  font-size: 1.2em;
  text-align: right;
}
#search-box:focus {
  outline: none;
  animation: infinite-blink 0.5s infinite;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4a402e3 (commit)
#error {
  color: red;
  font-size: 1em;
  margin: 0.5em;
<<<<<<< HEAD
=======
@keyframes infinite-blink {
>>>>>>> d68905b (commit)
=======
>>>>>>> 4a402e3 (commit)
}
