* {
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --clr: #e1e2e2;
  --bck: #1d2228;
  --acc: #fb8122;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--clr) !important;
  background-color: var(--bck) !important;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  padding: 1em;
}
main {
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
}
.link-icon {
  text-decoration: none;
  color: var(--clr);
  font-size: 2.5em;
  margin: 0 0.1em;
}
.link-icon:hover {
  text-decoration: none;
  color: var(--acc);
}
.nav-item {
  margin: 0.5em;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
}
.buttons {
  display: grid;
  grid-template:
    "a a a a"
    "b b b b "
    "c c c c "
    "d d d d"
    "e e e e";
  border-radius: 0.5em;
  width: 20em;
}
.button-calc {
  padding: 0.5em;
  margin: 0;
  background-color: var(--acc);
  border: none;
  font-size: 2em;
  border: 1px solid var(--bck);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Orbitron;
}
.button-calc[data-value="="] {
  grid-column: 3 / span 2;
  width: 20em/2;
  border-radius: 0 0 0.3em 0;
}
.button-calc[data-value="0"] {
  border-radius: 0 0 0 0.3em;
}
.button-calc:hover {
  background-color: #c84e00;
  color: var(--clr);
}
.display {
  width: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  justify-content: right;
  align-items: center;
  border: 1px solid black;
  text-align: right;
  font-size: 2em;
  min-height: 5rem;
  background-color: #424d5b;
  padding-right: 0.3em;
  border-radius: 0.3em 0.3em 0 0;
  inline-size: 20rem;
  line-height: 1em;
  font-family: Orbitron;
}
